project          = "infra-262515"
public_key_path  = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
region           = "europe-north1"
zone             = "europe-north1-a"
source_ranges    = ["8.8.8.8/32"]
install_app      = true
