{
      "project_id": "infra-262515",
      "source_image_family": "ubuntu-1604-lts",
      "machine_type": "f1-micro",
      "image_description":"PoC image",
      "disk_size":"11",
      "disk_type":"pd-standard",
      "tags":"puma-server,poc",
      "zone":"europe-north1-a"
}
